:root {
	--mainColor: #4b5156;
	--secondaryColor: #606B56;

	--borderColor: #515a48;

	--mainText: #fff;
	--secondaryText: #eeeeee;

	--themeDotColor: #fff;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow: #2a2f25;

	--buttonColor:#659966;
}